<!DOCTYPE html>



  <form action="/results" method="post">
      Name: <input type="text" name="name" value="">
      <div>
      Dojo Location:<select name="city">
      <option value="San Jose">San Jose</option>
      <option value="Seattle">Seattle</option>
      <option value="Los Angeles">Los Angeles</option>
      <option value="Dallas">Dallas</option>
    </select>
  </div>
  <div>
      Favorite Language:<select name="language">
      <option value="Python">Python</option>
      <option value="JavaScript">JavaScript</option>
      <option value="iOS Swift">iOS Swift</option>
      <option value="Java">Java</option>
    </select>
  </div>
      Comment (optional):
      <div>
    <textarea name="comment" rows="8" cols="40"></textarea>
    <input type="submit" name="submit" value="submit">
  </div>

  </form>
